@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Anek";
    src: url("../../public/AnekLatin.ttf") format("truetype");
    font-weight: 100 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Aileron";
    src: url("../../public/Aileron/Aileron-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Aileron";
    src: url("../../public/Aileron/Aileron-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
  }

  body {
    @apply text-text-normal;
  }
}