/* Home page content */
.home-content-wrapper {
    height: 100vh;
}
  
.home-intro {
    color: var(--color-text);
    font-size: 7.2rem;
    margin: 0;
    padding-top: 20vh;
}

.home-subheading {
    color: var(--color-text);
    font-size: 3.6rem;
    width: 50vw;
    margin: 0;
    padding-top: 1em;
}

.cta-buttons {
    margin: 5em 0;
    display: flex;
    gap: 10em;
}

.works-cta {
    display: flex;
    gap: 1em;
    background-color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-text);
    text-decoration: none;
    border-radius: 1.4em;
    padding: 1em 2em;
    transition: transform 0.3s;
}

.works-cta:hover {
    background-color: #B5A6A4;
    transform: translateY(-10px);
}

.arrow-right {
    fill: var(--color-text);
}

.resume-cta {
    display: flex;
    gap: 0.5em;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-text);
    text-decoration: none;
    padding: 1em 0;
    align-items: center;
    transition: transform 0.3s;
}


.resume-cta:hover {
    transform: translateY(-10px);
}

.open-in-new{
    fill: var(--color-text);
}

.arrow-down-wrapper {
    fill: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20em;
    animation: move 1.5s infinite;
}

.arrow-text {
    color: var(--color-text);
    font-size: 2rem;
}


@keyframes move {
    0% {
        opacity: 0;
        transform: translate(0px, -10px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0, 10px);
    }
}